<footer class="bg-dark font-small page-footer text-white pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center pb-2">
        <h4>Siga-nos nas redes sociais</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network ">
            <li>
                <a
                href="https://www.facebook.com/generationbrasil/"
                target="_blank"
                class="icoFacebook"
              ><img  src="https://i.imgur.com/jOecSvH.png" alt="" width="30px" height="30px" class="icons"></a>
            </li>
            <li>
                <a
                href="https://www.instagram.com/generationbrasil/"
                target="_blank"
                class="icoFacebook"
              ><img  src="https://i.imgur.com/rHGwW3S.png" alt="" width="30px" height="30px" class="icons"></a>
            </li>
            <li>
                <a
                href="https://www.linkedin.com/school/generationbrasil/"
                target="_blank"
                class="icoFacebook"
              ><img  src="https://i.imgur.com/rHLFtk2.png" alt="" width="30px" height="30px" class="icons" ></a>
            </li>
       
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center bg-secondary text-white py-3">
      <span class="">  2022 Copyright</span>
      <a href="https://brazil.generation.org/" target="_blank"> brasil.generation</a>

  </div>
</footer>
